@font-face {
  font-family: 'Plex';
  src: url('~@/env/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Plex';
  src: url('~@/env/assets/fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Plex';
  src: url('~@/env/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Plex';
  src: url('~@/env/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Plex';
  src: url('~@/env/assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Plex';
  src: url('~@/env/assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

// IBM Plex with Bootstrap default as fallbacks
// https://getbootstrap.com/docs/4.4/content/reboot/#native-font-stack

$font-family-base: 'Plex', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// IBM theme colors
$blue: #0F62FE;
$red: #DA1E28;
$green: #24A146;
$yellow: #F1C21B;

$primary: $blue;
$danger: $red;
$success: $green;
$warning: $yellow;
