@font-face {
  font-family: "Intel Clear";
  src: url("~@/env/assets/fonts/Intel_Clear/IntelClear-Light-webfont.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Intel Clear";
  src: url("~@/env/assets/fonts/Intel_Clear/IntelClear-Regular-webfont.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Intel Clear";
  src: url("~@/env/assets/fonts/Intel_Clear/IntelClear-Bold-webfont.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

$font-family-base: "Intel Clear", "Helvetica Neue", Helvetica, Arial, sans-serif;

$classic-blue: #0068B5;
$energy-blue: #00C7FD;

$primary: $classic-blue;

$red: #ed1c24;
$orange: #ffa300;
$yellow: #f3d54e;
$green: #c4d600;
$cyan: $energy-blue;
$gray: #AEAEAE;
$dark-gray: #808080;
$light-gray: #E9E9E9;
$black: #000000;
$white: #ffffff;

$danger: #C81326;
$success: #8BAE46;
$warning: #FEC91B;


$gray-100: $white;

$loading-color: $warning;
$navbar-color: $classic-blue;

.status-icon.secondary {
  fill: $light-gray !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after,
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $primary !important;
}
