.btn {
  // font-weight: $headings-font-weight;
  padding-top: $spacer / 2;
  padding-right: $spacer;
  padding-bottom: $spacer / 2;
  padding-left: $spacer;

  // Buttons with SVGs and text expect
  // text to be wrapped in a span element
  svg + span {
    margin-left: $spacer / 4;
  }
}

.btn-primary {
  fill: currentColor;
  
  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    border-color: $white;
    box-shadow: inset 0 0 0 3px theme-color('primary'), inset 0 0 0 5px $white;
  }
}

.btn-secondary {
  fill: currentColor;

  &:focus, 
  &:not(:disabled):not(.disabled):active:focus {
    border-color: $white;
    box-shadow: inset 0 0 0 3px theme-color('secondary'), inset 0 0 0 5px $white;
  }
}

.btn-link {
  font-weight: $headings-font-weight;
  fill: theme-color("primary");
  text-decoration: none !important;

  &:hover {
    fill: darken(theme-color("primary"), 15%);
  }

  &:disabled {
    box-shadow: $btn-focus-box-shadow;
  }
}

.btn:disabled {
  color: gray("600");
  fill: currentColor;

  &:not(.btn-link) {
    border-color: gray("400");
    background-color: gray("400");
  }
}