// Icon button style
%icon-btn-style{
  width: 40px;
  height: 40px;
  padding: 5px !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding-top: $spacer / 2;
  padding-right: $spacer;
  padding-bottom: $spacer / 2;
  padding-left: $spacer;

  // Buttons with SVGs and text expect
  // text to be wrapped in a span element
  svg + span {
    margin-left: $spacer / 4;
  }
  &:disabled {
    color: gray("600");
    fill: currentColor;
    box-shadow: none !important;
    &:not(.btn-link) {
      border-color: gray("400");
      background-color: gray("400");
    }
  }
}

.btn-primary {
  fill: currentColor;
  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    border-color: $white;
    box-shadow: inset 0 0 0 3px theme-color('primary'), inset 0 0 0 5px $white;
  }
}

.btn-secondary {
  fill: currentColor;
  &:focus,
  &:not(:disabled):not(.disabled):active:focus {
    border-color: $white;
    box-shadow: inset 0 0 0 3px theme-color('secondary'), inset 0 0 0 5px $white;
  }
}

// Global style for all button link
.btn-link {
  font-weight: $headings-font-weight;
  fill: theme-color("primary");
  text-decoration: none !important;
  &:hover {
    background-color: gray("200");
    color: theme-color("primary");
  }
  &:active {
    background-color: gray("300");
  }
  &:focus {
    box-shadow: inset 0 0 0 2px theme-color("primary");
    color: theme-color("primary");
  }
  &:disabled {
    box-shadow: $btn-focus-box-shadow;
  }
}

// Icon buttons from table
table {
  td {
    .btn-link {
      &:last-child {
        margin-left: 5px;
      }
      &[title*="Export"] {
        @extend %icon-btn-style; 
      }
      &[title*="Delete"] {
        @extend %icon-btn-style;
      }
      &[title*="Edit"] {
        @extend %icon-btn-style;
      }
      &[title*="certificate"] {
        @extend %icon-btn-style;
      }
    }
  }
}

// Datepicker and Password toggle buttons
.b-form-datepicker,
.input-toggle-password-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: $zindex-dropdown + 1;
} 
.b-form-datepicker .btn,
.input-toggle-password-btn {
   padding: 0.38rem 0.6rem;
  svg {
    vertical-align: sub;
  }
}
