.b-calendar-nav {
  .btn {
    &:hover {
      background: none;
      color: theme-color("dark");
    }
  }
}

.b-calendar-grid .btn {
  display: inline-block;
}

// Date picker focus
.b-calendar .b-calendar-grid {
  padding: 6px 12px;
}