.table-pagination-select {
  display: flex;
  flex-direction: row-reverse;
  select {
    width: fit-content;
  }
  label {
    margin-left: $spacer;
    line-height: $spacer * 2;
  }
}

.b-pagination {
  .page-item.active button {
    color: $pagination-active-button-text-color;
    background-color: $pagination-active-button-color;
    border-color: $border-color;
    box-shadow: inset 0px -3px $pagination-active-button-box-shadow-color;
  }

  .page-link{
    color: $pagination-text-color;
  }
}