.table {
  position: relative;
  z-index: $zindex-dropdown;

  td {
    border-top: 1px solid gray("300");
    border-bottom: 1px solid gray("300");
    &:first-of-type {
      border-left: 1px solid gray("300");
    }
    &:last-of-type {
      border-right: 1px solid gray("300");
    }
  }

  // thead-light added for specificiy
  .thead-light th {
    border: none;
    color: theme-color("dark");
  }

  .status-icon svg {
    width: 1rem;
    height: auto;
  }

  .b-table-has-details {
    td {
      border-bottom: none;
    }
    .table-row-expand svg {
      transform: rotate(180deg);
    }
  }

  .b-table-details {
    background-color: theme-color("light");
    td {
      padding-left: calc(50px + (#{$table-cell-padding} * 2));
    }
    dl {
      margin: 0;
    }
    dt {
      display: inline-block;
      margin-right: $spacer / 2;
    }
    dd {
      display: inline-block;
    }
  }

  .table-row-expand {
    width: 50px;
    .btn {
      padding: 0;
      width: 50px;
    }
    svg {
      fill: theme-color("dark");
    }
  }
}

.b-table-sticky-header td {
  border-top: none;
}

// Table stacked style for small screen only
@include media-breakpoint-down(xs) {
  .b-table-stacked-sm {
    border: 1px solid $gray-300;

    tr {
      position: relative;

      &::before,
      &::after {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: -1;
      }

      &:before {
        content: '';
        background-color: $gray-200;
        width: 40%;
        border-right: 1px solid $gray-300;
      }

      &:after {
        content: '';
        right: 0;
        width: 60%;
      }
    }

    td {
      border: 0 !important;
      padding: 0.75rem;
      text-align: left !important;
    }
  }

  .table.b-table.b-table-stacked-sm > tbody > tr > [data-label] > div {
    padding-left: 16px;
  }
  
  .b-table-stacked-sm td[data-label='Description'] {
    word-break: break-all;
  }

  .b-table-stacked-sm tr > td[aria-colindex='1'] {
    border-top: 1px solid $gray-300 !important;
    padding-top: 10px;
  }

  .b-table-stacked-sm tr:first-child td[aria-colindex='1'] {
    border-top: 0 !important;
  }

  .table.b-table.b-table-stacked-sm > tbody > tr > [data-label]::before {
    text-align: left;
    padding-left: 8px;
  }

  .b-table-stacked-sm tr:nth-child(even)::after {
    background-color: $gray-100;
  }
}