.table {
  position: relative;
  z-index: $zindex-dropdown;

  td {
    border-top: 1px solid gray("300");
    border-bottom: 1px solid gray("300");
    &:first-of-type {
      border-left: 1px solid gray("300");
    }
    &:last-of-type {
      border-right: 1px solid gray("300");
    }
  }

  // thead-light added for specificiy
  .thead-light th {
    border: none;
    color: theme-color("dark");
    &:focus {
      outline: none;
    }
  }

  .status-icon svg {
    width: 1rem;
    height: auto;
  }

  .b-table-has-details {
    td {
      border-bottom: none;
    }
    .table-row-expand svg {
      transform: rotate(180deg);
    }
  }

  .b-table-details {
    background-color: theme-color("light");
    td {
      padding-left: calc(50px + (#{$table-cell-padding} * 2));
    }
    dl {
      margin: 0;
    }
    dt {
      display: inline-block;
      margin-right: $spacer / 2;
    }
    dd {
      display: inline-block;
    }
  }

  .table-row-expand {
    width: 50px;
    .btn {
      padding: 0;
      width: 50px;
    }
    svg {
      fill: theme-color("dark");
    }
  }
  .b-table-sort-icon-left {
    background-position: left calc(1.5rem / 2) center !important;
    padding-left: calc(1.2rem + 0.65em) !important;
    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px #2d60e5 !important;
    }
    &:hover {
      background-color: theme-color-dark('light');
    }
  }
}

.b-table-sticky-header td {
  border-top: none;
}

