.b-toaster {
  top: 75px!important; // make sure toasts do not hide top header
}

// Toast component and status icon style
.toast {
  padding: $spacer/2 $spacer/2 $spacer/2 $spacer+2;
  border-width: 0 0 0 3px;
  .close {
    font-weight: 300;
    opacity: 1;
  }
}

.toast-icon svg {
  position: absolute;
  top: 20px;
  left: 20px;
}

.toast-header {
  background-color: inherit!important; //override specificity
  border: none;
  color: theme-color("dark")!important; //override specificity
  padding-bottom: 0;
}

.toast-body {
  color: theme-color("dark");
  padding-top: 0;
}

.b-toast-success .toast {
  border-left-color: theme-color("success")!important;
  background-color: theme-color-light("success")!important;
}

.b-toast-info .toast {
  border-left-color: theme-color("info")!important;
  background-color: theme-color-light("info")!important;
}

.b-toast-danger .toast {
  border-left-color: theme-color("danger")!important;
  background-color: theme-color-light("danger")!important;
}

.b-toast-warning .toast {
  border-left-color: theme-color("warning")!important;
  background-color: theme-color-light("warning")!important;
}