.b-toaster {
  top: 75px!important; // make sure toasts do not hide top header
}

// Toast component and status icon style
.toast {
  padding: $spacer/2 $spacer/2 $spacer/2 $spacer+2;
  border-width: 0 0 0 3px;
  box-shadow: $box-shadow;
  .close {
    font-weight: 300;
    opacity: 1;
  }
}

.toast-header {
  display: flex;
  align-items: flex-start;
  background-color: inherit!important; //override specificity
  border: none;
  color: theme-color("dark")!important; //override specificity
  padding-bottom: 0;
}

.toast-icon {
  display: flex;
  margin-right: 1rem;

  svg {
    margin-left: -2.5rem;
  }

  + .close {
    line-height: .9;
  }
}

.toast-body {
  color: theme-color("dark");
  padding-top: 0;
}

.b-toast-success .toast {
  border-left-color: theme-color("success")!important;
  background-color: theme-color-light("success")!important;
}

.b-toast-info .toast {
  border-left-color: theme-color("info")!important;
  background-color: theme-color-light("info")!important;
}

.b-toast-danger .toast {
  border-left-color: theme-color("danger")!important;
  background-color: theme-color-light("danger")!important;
}

.b-toast-warning .toast {
  border-left-color: theme-color("warning")!important;
  background-color: theme-color-light("warning")!important;
}