
// VuePress Theme overrides
// Needed for table component to render correctly.

tr:nth-child(2n)
  background-color transparent
table
  border-collapse collapse
  z-index 0 !important
  width 100%
  display table
th
  border-right transparent
  border-left transparent
  text-align left
td
  border none