// VuePress Theme overrides
// Change content to be left aligned
.theme-default-content:not(.custom),
.page-nav
  max-width 72ch
  margin 0
  padding 2rem

// Overide default margins for p tags
// VuePress is nesting li content in p tags
// unless they are nested li elements creating
// inconsistent margins between different lists
li p
    margin-bottom .5rem
    margin-top .5rem
