// Sass Color Variables
$black: #000 !default;
$white: #fff !default;

$blue-100: #eff2fb !default;
$blue-500: #2d60e5 !default;

$green-100: #ecfdf1 !default;
$green-500: #0a7d06 !default;

$red-100: #feeeed !default;
$red-500: #da1416 !default;

$yellow-100: #fff8e4 !default;
$yellow-500: #efc100 !default;

$gray-100: #fafafa !default;
$gray-200: #f4f4f4 !default;
$gray-300: #dcdee0 !default;
$gray-400: #ccc !default;
$gray-500: #b3b3b3 !default;
$gray-600: #999999 !default;
$gray-700: #666666 !default;
$gray-800: #333333 !default;
$gray-900: #161616 !default;

// Sass Base Color Variables
$blue: $blue-500 !default;
$green: $green-500 !default;
$red: $red-500 !default;
$yellow: $yellow-500 !default;

// Bootstrap will generate CSS variables for
// all of the colors in this map.
// https://getbootstrap.com/docs/4.0/getting-started/theming/#css-variables
$colors: (
  "blue": $blue,
  "green": $green,
  "red": $red,
  "yellow": $yellow,
);

// Sass Theme Color Variables
// Can be used as variants
$danger: $red !default;
$dark: $gray-900 !default;
$info: $blue !default;
$light: $gray-100 !default;
$primary: $blue !default;
$secondary: $gray-800 !default;
$success: $green !default;
$warning: $yellow !default;

// Sass Color Variable Accents
// Used for component styles and are
// not available as variants
$danger-light: $red-100 !default;
$info-light: $blue-100 !default;
$warning-light: $yellow-100 !default;
$success-light: $green-100 !default;

// Bootstrap will generate CSS variables for
// all of the colors in this map.
// https://getbootstrap.com/docs/4.0/getting-started/theming/#css-variables
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "danger": $danger,
  "info": $info,
  "success": $success,
  "warning": $warning
);
