@import "./colors";

// Override Bootstrap Variables - node_modules/Bootstrap/scss/_variables.scss
$enable-rounded: false;
$enable-validation-icons: false;
$transition-base:             all $duration--moderate-02 $standard-easing--productive;
$transition-fade:             opacity $duration--moderate-01 $standard-easing--productive;
$transition-collapse:         height $duration--slow-01 $standard-easing--expressive;

// OpenBMC Custom Variables
$responsive-layout-bp: lg;
$header-height: 56px;
$navigation-width: 300px;
$container-bgd: $gray-200;
$primary-nav-hover: $gray-300;