// Override Bootstrap Variables - node_modules/Bootstrap/scss/_variables.scss
$enable-rounded: false;
$enable-validation-icons: false;
$transition-base:             all 240ms cubic-bezier(0.2, 0, 0.38, 0.9);
$transition-fade:             opacity 150ms	 cubic-bezier(0.2, 0, 0.38, 0.9);
$transition-collapse:         height 400ms cubic-bezier(0.4, 0.14, 0.3, 1);

// OpenBMC Custom Variables
$responsive-layout-bp: lg;
$responsive-layout-sm: sm; 
$header-height: 48px;
$navigation-width: 300px;
$form-label-font-size: .875rem;
$form-line-height: 1.25rem;
$box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
$focus-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
