.btn {
  font-weight: $headings-font-weight;
  padding-left: $spacer;
  padding-right: $spacer;
  height: 48px;

  svg {
    vertical-align: sub;
    margin-left: $spacer / 2;
  }
}

.btn-primary {
  fill: currentColor;
}

.btn-secondary {
  fill: currentColor;
}

.btn-link {
  fill: $primary;
  text-decoration: none !important;
  &:focus {
    box-shadow: $btn-focus-box-shadow;
  }
  &:hover {
    fill: darken($primary, 15%);
  }
}

.btn:disabled:not(.btn-link) {
  background-color: $gray-400;
  border-color: $gray-400;
  color: $gray-600;
}