// Adding component style to global stylesheet because
// single-file component scoped styles aren't
// being applied to dynamically appended elements
// The overflow menu should be above the table

.dropdown-item {
  padding-left: $spacer/2;
}

.b-dropdown-form {
  padding: $spacer/2;
  .form-group {
    margin-bottom: $spacer/2;
  }
}

.table-filter {
  .dropdown-menu {
    z-index: $zindex-dropdown + 1;
    padding: 0;
  }
}

.app-header {
  .dropdown {
    .btn,
    .btn-secondary {
      background-color: $dark;
      padding: 0;
      border: 0;
      vertical-align: 0.1em !important;
      outline: none !important;
      box-shadow: none !important;
      &:hover {
        outline: none;
        box-shadow: none;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .btn-link {
      color: $white !important;
      fill: currentColor;
      padding: $spacer / 2;
    }
    .dropdown-menu {
      margin-top: 8px;
    }
  }
}