// Required
// Override Bootstrap Variables - node_modules/Bootstrap/scss/_variables.scss
$enable-rounded: false;
$enable-validation-icons: false;

@import "~bootstrap/scss/functions";
@import "./functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "./colors";
@import "./motion";


// OpenBMC Custom Variables
$responsive-layout-bp: lg;
$header-height: 56px;
$navigation-width: 300px;
$container-bgd: $gray-200;
$primary-nav-hover: $gray-300;

// Removing colors we do not have maps for or need for
// the OpenBMC theme. There are some that are required by
// Bootstrap keys that cannot be removed from theme colors
// are primary, success, and danger.
// https://getbootstrap.com/docs/4.0/getting-started/theming/#required-keys
$grays: map-remove($grays, "500");
$colors: map-remove($colors, "indigo", "purple", "pink", "orange", "cyan");
$colors: map-remove($theme-colors, "light", "dark");

// Optionalo
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

@import "~bootstrap-vue/src/index.scss";

@import "./buttons";
@import "./form-components";
@import "./modal";
@import "./table";
@import "./toast";
@import "./typography";