table {
  position: relative;
  z-index: $zindex-dropdown;
}

.table-light {
  td {
    border-top: none;
    border-bottom: 1px solid $gray-300;
  }
}

.thead-light.thead-light {
  th {
    border: none;
    color: $dark;
  }
}

.table-cell__actions {
  text-align: right;
  .btn {
    padding-top: 0;
    padding-bottom: 0;
  }
}