@import "./colors";

// Override Bootstrap Variables - node_modules/Bootstrap/scss/_variables.scss
$enable-rounded: false;
$enable-validation-icons: false;

// OpenBMC Custom Variables
$responsive-layout-bp: lg;
$header-height: 56px;
$navigation-width: 300px;
$container-bgd: $gray-200;
$primary-nav-hover: $gray-300;
$form-background: $gray-200;